/* color scheme */
:root {
  --white: #ffffffff;
  --black: #000000ff;
  --green: #8eb93fff;
  --dark-green: #04724dff;
  --blue: #40798cff;
}

body {
  background-color: var(--dark-green);
  font-family: "Roboto Flex", sans-serif;
  font-family: "Roboto Slab", serif;
}

/* Nav-bar styling */
.navbar {
  border: 6px;
  background-color: var(--dark-green);
  color: var(--white);
  border-bottom: 5px solid white;
}

.navbar-item {
  color: var(--white);
}

/* navbar burger styling*/
.navbar-burger {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: #4a4a4a;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  -webkit-transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, transform;
  transition-property: background, left, opacity, transform, -webkit-transform;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger:hover {
  background-color: whitesmoke;
}

.navbar-burger.is-active span {
  background-color: #00d1b2;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

/* banner/hero styling */

.hero-body {
  background-image: url("https://media.istockphoto.com/photos/striped-soccer-field-picture-id472347896?k=20&m=472347896&s=612x612&w=0&h=rLYy4-lp9h7LWi2MNtW8ntTpVuj3LIlup2nr7fAHlUE=");
}

.hero-foot {
  background-color: var(--dark-green);
}

/* search form styling */
.field {
  border: 6px solid var(--blue);
  padding: 10px;
  width: 20em;
  text-align: center;
  margin: 12px;
}

.control {
  padding-bottom: 15px;
}

.input {
  text-align: center;
  padding: 0.8rem;
}
/* football card styling */
.football-card {
  border: 5px solid var(--white);
  display: flex;
  justify-content: center;
  position: relative;
  right: 0px;
  text-align: center;
}

.title {
  margin: 1.5rem;
}

.table {
  margin: 1.5rem;
}

.hometeam-logo-img h1 {
  color: white;
  font-weight: 900;
}

/* Recent searches styling */
.content {
  border: 5px solid var(--white);
  display: inline-block;
  text-align: center;
  color: var(--white);
  margin: 1rem;
}

.content h2 {
  color: white;
  text-transform: uppercase;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

#clear-history {
  margin: 0.5rem;
}

/* video styling */

.video-container {
  border: 5px solid var(--white);
  padding: 1rem;
  color: white;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.video-div {
  width: 200px;

}

/* ajusting for screen sizes*/
 @media screen and (max-width: 768px) {
  .video-container{
    flex-direction: column;
    align-items: center;
  }
  .hero-body {
    text-align: center;
  }

  .field {
    margin: auto;
    margin-top: 1rem;
    width: 50%;
  }

  .recentSearches {
    text-align: center;
    border: 5px solid white;
    display: inline-block;
    margin: 30px;
    color: var(--white);
  }

  .recentSearches li {
    border-bottom: 2px solid white;
    margin: 8px;
  }

  .recentSearches h2 {
    border-bottom: 4px solid var(--white);
    margin: 8px;
  }

  .football-card {
    border: 5px solid var(--);
    display: inline-block;
    text-align: center;
  }
  .class {
    color: white;
  }
  .table-div {
    border: 6px solid var(--blue);
    display: inline-block;
    margin: 10px;
  }
  .team-logo-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .table {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  div.columns {
    margin-top: 50px;
  }

  h1 {
    color: green !important;
    margin-bottom: 20px;
  }

  .table td {
    font-size: 11px;
  }

  .table th {
    font-size: 12px;
  }

  .football-card {
    border: 5px solid white;
    display: inline-block;
  }

  .class {
    color: white;
  }

  .table-div {
    border: 6px solid var(--blue);
    display: inline-block;
    margin: 10px;
  }

  .content {
    border: 5px solid var(--white);
    margin: 20px;
    display: inline-block;
    padding: 10px;
    color: var(--white);
  }

  .content h2 {
    text-decoration: underline;
    color: var(--white);
  }

 
}
