:root {
  --white: #ffffffff;
  --black: #000000ff;
  --green: #8eb93fff;
  --dark-green: #04724dff;
  --blue: #40798cff;
}

body {
  background-color: var(--dark-green);
  font-family: "Roboto Flex", sans-serif;
  font-family: "Roboto Slab", serif;
}

.navbar {
  border: 6px;
  background-color: var(--dark-green);
  color: var(--white);
}

.navbar-item {
  color: var(--white);
}

i {
  margin: 20px;
}

.hero-body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.benchillcommunitycentre.co.uk%2Fastro-pitch%2Ffootball-pitch-banner%2F&psig=AOvVaw0F2GvQYvkQE_Ukz4nKLH_u&ust=1652613846927000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMDtr73w3vcCFQAAAAAdAAAAABAE");
}
